/3rd_lib
CMakeFiles
/build/CameraGrabber/DalsaCamera/*.cmake
/build/CameraGrabber/DalsaCamera/Makefile
/build/Export/DbExport/*.cmake
/build/Export/DbExport/Makefile
Makefile
cmake_install.cmake
DMKCamera.tlog
*.VC.VC.opendb
/src/.vs
/src/*.zip
release
*-Debug
debug
*.jpg
*.bmp
*.pdb
/src/VisionInspectionPro.VC.db
/src/main.VC.db
*.dir
Debug
x64
CMakeCache.txt
/build/CameraGrabber/DMKCamera/DMKCamera.exp
/build/CameraGrabber/DMKCamera/DMKCamera.iobj
/build/CameraGrabber/DMKCamera/DMKCamera.ipdb
/build/CameraGrabber/DMKCamera/DMKCamera.lib
/build/opencv_world345.dll
/build/opencv_world451.dll
*.exp
